@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
  }

  body {
    @apply overflow-x-hidden;
  }

  html {
    scroll-behavior: auto;
  }

  html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: black;
  color: white;
}
}

@layer utilities {
  .text-gradient {
  background: linear-gradient(
    90deg,
    var(--theme-color),
    white,
    var(--theme-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
}

